---
layout: default
title : Publications
navbar_title: Publications
---
{% assign pubs_by_year = site.publications | sort: "date" | reverse | group_by_exp: "item", "item.date | date: '%Y'" %}
<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        {% assign num_papers = year.items | size %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in year.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<script>
(() => {
    const yearLinks = document.querySelectorAll('#navbar-year a.nav-link');

    function setActiveYear(link) {
        yearLinks.forEach((yearLink) => yearLink.classList.remove('active'));
        link.classList.add('active');
    }

    function setActiveYearFromHash() {
        const matchingLink = Array.from(yearLinks).find((yearLink) => yearLink.hash === window.location.hash);

        if (matchingLink) {
            setActiveYear(matchingLink);
        }
    }

    yearLinks.forEach((yearLink) => yearLink.addEventListener('click', () => setActiveYear(yearLink)));
    window.addEventListener('hashchange', setActiveYearFromHash);
    setActiveYearFromHash();
})();
</script>
