{% if site.data.profile.education %}
<div class="card border-0 shadow-sm bg-white mt-3">
    <div class="card-body p-3">
        <h6>Education</h6>
        <ul class="list-unstyled mb-1">
            {% for item in site.data.profile.education %}
            <li class="media mb-1">
                {% if item.logo %}
                <img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" style="width: 18px;" class="mr-1 mt-1">
                {% endif %}
                <div class="media-body">
                    <div>{{ item.name }}</div>
                    <div class="small">{{ item.dept }}</div>
                    <div class="small d-flex">
                        <div>{{ item.position }}</div>
                        <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
