{% assign news_sorted = site.news | sort: "date" | reverse | slice: 0, include.limit -%}
<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="section-card-title p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News</h6>
    <div class="px-3 pb-1 news-list">
        {% for item in news_sorted %}
        <div class="media py-1 {% unless forloop.first %}border-top border-gray{% endunless %}">
            <div class="mr-3 text-muted my-1">{{ item.date | date: "%Y.%m" }}</div>
            <div class="media-body">
                <div class="my-1 d-flex">
                    <div>{{ item.title }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
